<h1>Search for: <%= params[:author] %></h1>

<% if !@author.nil? %>
<h2><%= @author.name %></h2>
<ul>
<% @author.books.each do |book| %>
    <li><%= link_to book.title, book.url %></li>
<% end %>
</ul>
<% else %>
    Oops, your search did not return any results.
<% end %>
