<h1 class="page-title">Search for: <%= params[:author] %></h1>

<% if !@authors.nil? %>
    <% @authors.each do |author| %>
        <h2><%= author.name %>
            <span class="follow">
                <%= link_to 'follow', author_alerts_path(author: author.name), method: :post %>
            </span>
        </h2>
        <ul class="books">
        <% author.books.each do |book| %>
            <li><%= link_to book.title, book.url %></li>
        <% end %>
        </ul>
    <% end %>
<% else %>
    Oops, your search did not return any results.
<% end %>
