<p>Follow your favorite authors and receive alerts when they publish new books</p>

<div class="search">
    <%= form_tag('/amazon/search', :method => 'get') do %>
        <%= label_tag(:author, 'Search for an author:') %>
        <%= text_field_tag(:author, nil, :placeholder => 'Author Name') %>
        <%= submit_tag('Search', name: nil) %>
    <% end %>
</div>