html {
  font-size: 14pt;
}

body {
  margin: 1em;
}

a {
  color: dodgerblue;
  text-decoration: underline;

  &:hover {
    color: darkolivegreen;
  }
}

h1 {
  text-align: center;
  font-size: 1.5em;
}